// Device media queries.
@phonePortrait: ~"(max-width: 639px)";
@phoneLandscape: ~"(min-width: 640px) and (max-width: 899px)";
@phone: ~"(max-width: 899px)";
@desktop: ~"(min-width: 900px)";

// App colors.
@bgColor: #134;
@canvasColor: #72071b;
@canvasBorder: #ee8c08;
@keepBarColor: #49a;
@keepBarBorder: @canvasBorder;
@metaFieldBG: #212738;
@goodColor: #83e51b;
@badColor: #ff0022;

// Dice colors.
@diceColor: #e5e5cd;
@dotColors: #c32341, #ce7c07, #20933a, #13214c;

// Dice sizes.
@diceSizeSmall: 45px;
@diceSizeLarge: 60px;

// Time for transitions, like moving dice.
@transitionTime: 0.3s;
